<br>

<body>
  <h1>Deudas</h1>
  <hr>

  <input type="text" [(ngModel)]="pers.pers_nom" name="pers_nom" class="form-control" id="name" placeholder="Nombre" required autofocus>

  <br>

  <button type="button" class="btn btn-success" routerLink="/deudas" (click)="post(pers)"><i class="fa fa-user-plus"></i>Guardar</button>

  <br>
  <br>

  <table class="table table-striped table-dark table-hover">
    <thead>
    <tr>
      <td>#</td>
      <td>Nombre</td>
      <td>Detalles</td>
    </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let pers of data">
        <td>{{ pers.pers_sec }}</td>
        <td>{{ pers.pers_nom }}</td>
        <td>
          <button class="btn btn-primary" routerLink="/detalle_deudas"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
